.vscode/settings.json
fxrnn.code-workspace
web_system/run.sh~
web_system/.run.sh.un~
pvenv
/back_system/config/encrypted.config.bak
/back_system/output/tensor_board/
back_system/__pycache__/
back_system/api/__pycache__/
back_system/data/__pycache__/
back_system/output/image/
dat/
mylib/__pycache__/
mylib/ai/__pycache__/
mylib/db/__pycache__/
mylib/logic/__pycache__/
unittests/dat/model/
unittests/dat/tensorboard/train/events.out.tfevents.1574180982.ky-dynabook-R63-D.2828.2079.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574180983.ky-dynabook-R63-D.profile-empty
unittests/dat/tensorboard/train/events.out.tfevents.1574181093.ky-dynabook-R63-D.3205.1737.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574183312.ky-dynabook-R63-D.6472.1737.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574183377.ky-dynabook-R63-D.6604.1737.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574183837.ky-dynabook-R63-D.7702.1737.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574184326.ky-dynabook-R63-D.8375.1855.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574184733.ky-dynabook-R63-D.9086.1855.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574184864.ky-dynabook-R63-D.9322.1855.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574184931.ky-dynabook-R63-D.9443.1855.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574185049.ky-dynabook-R63-D.9641.1855.v2
unittests/dat/tensorboard/train/events.out.tfevents.1574189314.ky-dynabook-R63-D.15008.1855.v2
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_01-29-43/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_01-31-33/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_02-08-32/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_02-09-37/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_02-17-17/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_02-25-27/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_02-32-14/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_02-35-32/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_02-37-30/
unittests/dat/tensorboard/train/plugins/profile/2019-11-20_03-48-35/
unittests/dat/tensorboard/validation/events.out.tfevents.1574180983.ky-dynabook-R63-D.2828.2152.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574181094.ky-dynabook-R63-D.3205.1810.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574183312.ky-dynabook-R63-D.6472.1810.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574183377.ky-dynabook-R63-D.6604.1810.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574183837.ky-dynabook-R63-D.7702.1810.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574184327.ky-dynabook-R63-D.8375.1970.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574184734.ky-dynabook-R63-D.9086.1970.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574184932.ky-dynabook-R63-D.9443.1970.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574185050.ky-dynabook-R63-D.9641.1970.v2
unittests/dat/tensorboard/validation/events.out.tfevents.1574189317.ky-dynabook-R63-D.15008.1970.v2
web_system/__pycache__/sample_model.cpython-37.pyc
web_system/models/__pycache__/
/back_system/output/model/
