{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<style type="text/css">
<!--
.form-inline {flex-direction: column;}
-->
</style>
{% endblock %}
{% block body %}
{{ super() }}
    <div class="container">
        <table id="main-table" class="table table-bordered">
            <thead>
            <tr>
                <th>Date</th>
                <th>USDJPY</th>
                <th>EURJPY</th>
                <th>GBPJPY</th>
                <th>EURUSD</th>
                <th>GBPUSD</th>
                <th>NZDUSD</th>
                <th>EURGBP</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row['Date'] }}</td>
                    <td>{{ row['USDJPY'] }}</td>
                    <td>{{ row['EURJPY'] }}</td>
                    <td>{{ row['GBPJPY'] }}</td>
                    <td>{{ row['EURUSD'] }}</td>
                    <td>{{ row['GBPUSD'] }}</td>
                    <td>{{ row['NZDUSD'] }}</td>
                    <td>{{ row['EURGBP'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a name="get-history" id="get-history" class="btn btn-primary" href="/quandl/gethistory" role="button">Get data</a>
    </div>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <script>
        jQuery(function($){
            $("#main-table").DataTable({
                lengthChange: true,
                searching: true,
                ordering: true,
                info: true,
                paging: true,
                scrollX: true,
                scrollY: 200
            });
        });
    </script>
{% endblock %}